 <div>
    <!--<ul class="items">
    <li *ngFor="let data of Datas">
    <span>{{data.title}}</span>-->

    <table class="table-striped" myVisibility>
    <thead> 
    <tr> <th colspan="4"> Data List  </th></tr>
    <tr> 
    <th> UserId </th>
    <th> Id </th>
    <th> title  </th>
    <th> Body </th>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngFor="let data of Datas">
    <tr  *ngIf="data.userId==1" > 
   <td>  {{data.userId}} </td> 
    <td>  {{data.id}}</td> 
    <td>  {{data.title }}</td> 
   <td>  {{data.body}} </td> 
<!--<tr>
   <td>  {{data.login}} </td> 
   <td>  {{data.id}}</td> 
   <td>  {{data.url }}</td> 
   <td>  {{data.score}} </td>-->

    </tr>
    </ng-container>
    </tbody>
    </table>
    </div>